<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">
    <ol class="breadcrumb">
        <li>工作流</li>
        <li>部署流程列表</li>
    </ol>
    <!--遍历数组-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>proDefId</th>
            <th>name</th>
            <th>是否挂起</th>
            <th>time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${result}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.proDefId}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.isSuspended}"></td>

            <td th:text="${item.time}"></td>
            <td><a class="btn btn-primary btn-xs"
                   th:href="@{/execution/start/{id}?title={title}(id=${item.proDefId},title=${item.name})}">启动</a>
                <a class="btn btn-success btn-xs" th:href="@{/view/deployment/node-list/{id}(id=${item.proDefId})}">节点配置</a>
                <a class="btn btn-danger btn-xs" th:href="@{/deployment/del/{id}(id=${item.proDefId})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>