<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <script>
        $(function () {
            $(".apply").click(function () {
                var id = $(this).siblings("input[name=id]").val();
                var taskId = $(this).siblings("input[name=taskId]").val();
                var params = $(this).siblings("input[name=params]").val();
                if (params == "") {
                    location.href = "/execution/pass/" + id + "/" + taskId;
                } else {
                    location.href = "/execution/pass/" + id + "/" + taskId + "?params=" + params;
                }

            });


            $(".back").click(function () {
                var id = $(this).siblings("input[name=id]").val();
                var taskId = $(this).siblings("input[name=taskId]").val();
                var destTaskKey = $(this).siblings("input[name=destTaskKey]").val();
                location.href = "/execution/back/" + id + "/" + taskId + "?destTaskKey=" + destTaskKey;
            });

        });
    </script>
    <ol class="breadcrumb">
        <li>工作流</li>
        <li>正在运行的流程</li>
    </ol>
    <!--遍历数组-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>processInstanceId</th>
            <th>processDefinitionId</th>
            <th>time</th>
            <th>isSuspended</th>
            <th>executionId</th>
            <th>taskId</th>
            <th>taskName</th>
            <th>assignee</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${result}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.proDefId}"></td>
            <td th:text="${item.time}"></td>
            <td th:text="${item.isSuspended}"></td>
            <td th:text="${item.executionId}"></td>
            <td th:text="${item.taskId}"></td>
            <td th:text="${item.taskName}"></td>
            <td th:text="${item.assignee}"></td>

            <td>
                <input type="hidden" name="id" th:value="${item.id}">
                <input type="hidden" name="taskId" th:value="${item.taskId}">
                参数：<input type="text" name="params">
                驳回节点：<input type="text" name="destTaskKey">
                <button class="btn btn-success btn-xs apply" type="button">审批</button>
                <button class="btn btn-danger btn-xs back" type="button">驳回</button>
                <a class="btn btn-success btn-xs" th:href="@{/view/history/list/{id}(id=${item.id})}">审批历史</a>
                <a class="btn btn-warning btn-xs" th:href="@{/task/complete/{id}(id=${item.taskId})}">完成</a>
                <a class="btn btn-primary btn-xs" th:href="@{/execution/getHighlightImg/{id}(id=${item.id})}">实时流程图</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>