<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">

    <ul class="nav nav-pills">
        <li role="presentation"><a target="_blank"  class="btn btn-primary"  th:href="@{/model/create}">添加模型</a></li>
        <li role="presentation"><a target="_blank"  class="btn btn-success"   th:href="@{/view/deployByFile}">上传模型</a></li>
    </ul>
    <!--遍历数组-->
    <table class="table table-bordered table_number">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>category</th>
            <th>lastUpdateTime</th>
            <th>metaInfo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${result}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.lastUpdateTime}"></td>
            <td th:text="${item.metaInfo}"></td>
            <td>
                <a  class="btn btn-primary btn-xs" target="_blank" th:href="@{/modeler.html?modelId={id}(id=${item.id})}">修改模型</a>
                <a  class="btn btn-danger btn-xs" th:href="@{/model/delete?modelId={id}(id=${item.id})}">删除模型</a>
                <a  class="btn btn-success btn-xs" th:href="@{/model/deploy/{id}(id=${item.id})}">部署为流程</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
