<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">

    <ol class="breadcrumb">
        <li>工作流</li>
        <li>节点配置</li>
    </ol>
    <!--遍历数组-->
    <form id="form1" class="form-horizontal" method="post" th:action="@{/view/deployment/node-save?procDefId={procDefId}(procDefId=${procDefId})}">
        <table class="table">
            <tr th:each="item:${result}">
                <td th:text="${item.title}"></td>
                <td>
                    <input name="nodeId" type="hidden" th:value="${item.nodeId}">
                    <input name="assignee" th:value="${item.assignee}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary btn-sm">保存
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</html>
