<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">

    <ol class="breadcrumb">
        <li>工作流</li>
        <li>节点配置</li>
    </ol>
    <!--遍历数组-->
    <form id="form1" class="form-horizontal" method="post"
          th:action="@{/deployment/node-save?procDefId={procDefId}(procDefId=${procDefId})}">
        <table class="table">
            <tr th:each="item:${result}">
                <td th:text="${item.title}">

                </td>
                <td><input name="nodeId" type="hidden" th:value="${item.nodeId}"></td>
                <td>
                    显示驳回：<select name="reject" class="selectpicker" autocomplete="off">
                    <span th:if="${item.rejectFlag==1}">
                         <option value="1" selected="selected">是</option>
                        <option value="0">否</option>
                    </span>
                    <span th:unless="${item.rejectFlag==1}">
                         <option value="1">是</option>
                        <option value="0" selected="selected">否</option>
                    </span>

                </select>

                </td>
                <td>
                    选择角色：<input name="assignee" th:value="${item.assignee}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary btn-sm">保存
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</html>
